*.a
*.dylib*
*.exe
*.lss
*.lst
*.o
*.obj
*.orig
*.patch
*.pdb
*.so
*.swp
.dub
.idea
.svn
.vscode
DJSON-test-*
DJSON.dll
DJSON.dylib
DJSON.lib
DJSON_test
DJSON_test_utils
__dummy.html
build/
libcjson.so.*
libcjson_utils.so.*
tags
